@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background: linear-gradient(90deg, rgb(160, 99, 200) 24%, rgb(197, 178, 151) 85%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.container {
    margin: 2rem 0 2rem 0;
    background-color: #f6f6f6;
    width: 40%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    border-radius: 0.625rem;
    padding: 1rem;
    box-shadow: 8px 16px 16px rgba(0, 0, 0, 0.6);
}

.imagem img {
    width: 120px;
    border-radius: 50%;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 1.5rem;
}

.imagem img:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform .7s;
}

.imagem {
    width: 30%;
    height: 30%;
}

.descricao {
    display: flex;
    flex-direction: column;
}

.container-conteudo {
    height: 80%;
}

.container-redes-sociais img {
    margin-top: 1rem;
    width: 3.5rem;
    margin-right: 1rem;
}

.container-redes-sociais a {
    text-decoration: none;

}

.container-redes-sociais p {
    margin-top: 1rem;
    font-weight: 700;

}

.nome h1 {
    font-size: 2.5rem;
    text-align: left;
    margin-top: 3rem;
    font-weight: 700;
}

.texto {
    margin-top: 1rem;
    font-size: 1rem;
    text-align: left;
    font-weight: 700;
}

.btn-email {
    width: 45%;
    margin: 0 auto;
}

.btn-email a {
    background-color: rgb(203, 202, 202);
    border-radius: 1.2rem;
    padding: 0.8rem;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #222121;
}

.btn-email a:hover {
    background: linear-gradient(90deg, rgb(160, 99, 200) 24%, rgb(197, 178, 151) 85%);
    transition: background-color .8s;
    transform: scale(1.1);
    transition: transform .7s;
}


.btn-email img {
    width: 25px;
    margin-right: 0.5rem;

}

.container-redes-sociais img:hover {
    transform: scale(1.1);
    transition: transform .7s;
}